/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.bar.registration-background {
    background: url('../img/registration.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }